<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>網路聲量觀測平台</title>

    <!-- icon -->
    <link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.ico">

    <!-- css style -->
    <link rel="stylesheet" href="../static/css/cssReset.css">
    <link rel="stylesheet" href="../static/css/all.css">
    <link rel="stylesheet" href="../static/css/keyword.css">

    <!-- jQuery 1.9.0 -->
    <!-- <script type=text/javascript src="../static/js/jquery-1.9.0.js"></script> -->
    <!-- google chartsAPI -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!-- wordCloud API-->
    <script type=text/javascript src="../static/js/wordcloud2.js"></script>

    <!-- javaScript -->
    <script type=text/javascript src="../static/js/size.js"></script>



</head>

<body>

    <div id="page">
        <header>
            <div>
                <h1>
                    <a href="/">【保險相關】網路聲量觀測平台</a>
                </h1>
            </div>
            <menu>
                <ul>
                    <li>
                        <a href="/">首頁</a>
                    </li>
                    <li>
                        <a>討論區</a>
                        <ul>
                            <li>
                                <a href="/Awordcloud">討論區關鍵詞</a>
                            </li>
                            <li>
                                <a href="/Acharts">統計結果</a>
                            </li>
                            <li>
                                <a href="/Arelwords">詞與詞關聯</a>
                            </li>
                            <li>
                                <a href="/AsubUs">訂閱小幫手</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a>新聞</a>
                        <ul>
                            <li>
                                <a href="/BsetKeywords">設定關鍵字</a>
                            </li>
                            <li>
                                <a href="/Bnews">每日新聞</a>
                            </li>
                            <li>
                                <a href="/BnewsWord">產生新聞重點摘錄檔案</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </menu>
        </header>
        <main>
            <div id="content">
                <div id="heading">
                    <img src="../static/img/icon_img/analytics.png">
                    <span>詞與詞關聯 &#62;</span>
                </div>
                <div style="width:80%;height:auto;margin:0 auto;">
                    <img src="../static/img/Graph.png" width="100%"height="auto">
                </div>
            </div>
        </main>
        <footer>
            Copyright Fubon Financial All Rights Reserved.18
        </footer>
    </div>
    <!-- 換頁參考：https://hk.saowen.com/a/041e3115f94d529e3931020a1172c8cf4a94670d4e0a3245d7abac01febaeef6 -->
</body>

</html>