<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>網路聲量觀測平台</title>

    <!-- icon -->
    <link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.ico">

    <!-- css style -->
    <link rel="stylesheet" href="../static/css/cssReset.css">
    <link rel="stylesheet" href="../static/css/all.css">
    <link rel="stylesheet" href="../static/css/index.css">

    <!-- jQuery 1.9.0 -->
    <!-- <script type=text/javascript src="../static/js/jquery-1.9.0.js"></script> -->
    <!-- google chartsAPI -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!-- wordCloud API-->
    <script type=text/javascript src="../static/js/wordcloud2.js"></script>

    <!-- javaScript -->
    <script type=text/javascript src="../static/js/size.js"></script>



</head>

<body>

    <div id="page">
        <header>
            <div>
                <h1>
                    <a href="/">【保險相關】網路聲量觀測平台</a>
                </h1>
            </div>
            <menu>
                <ul>
                    <li>
                        <a href="/">首頁</a>
                    </li>
                    <li>
                        <a>討論區</a>
                        <ul>
                            <li>
                                <a href="/Awordcloud">討論區關鍵詞</a>
                            </li>
                            <li>
                                <a href="/Acharts">統計結果</a>
                            </li>
                            <li>
                                <a href="/Arelwords">詞與詞關聯</a>
                            </li>
                            <li>
                                <a href="/AsubUs">訂閱小幫手</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a>新聞</a>
                        <ul>
                            <li>
                                <a href="/BsetKeywords">設定關鍵字</a>
                            </li>
                            <li>
                                <a href="/Bnews">每日新聞</a>
                            </li>
                            <li>
                                <a href="/BnewsWord">產生新聞重點摘錄檔案</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </menu>
        </header>
        <main>
            <div id="content">
                <div>
                    <h1>討論區</h1>
                    <a href="/Awordcloud">
                        <div class="card_box">
                            <div>
                                <img src="../static/img/icon_img/growth.png">
                            </div>
                            <div>
                                <h2>討論區關鍵字</h2>
                                <h3>統計討論區文章的字詞，生成文字雲，點選關鍵字連結至文章列表。</h3>
                            </div>
                        </div>
                    </a>
                    <a href="/Acharts">
                        <div class="card_box">
                            <div>
                                <img src="../static/img/icon_img/promotion.png">
                            </div>
                            <div>
                                <h2>統計結果</h2>
                                <h3>將統計出的字詞用長條圖方式詳細顯示。</h3>
                            </div>
                        </div>
                    </a>
                    <a href="/Arelwords">
                        <div class="card_box">
                            <div>
                                <img src="../static/img/icon_img/analytics.png">
                            </div>
                            <div>
                                <h2>詞與詞關聯</h2>
                                <h3>透過演算法算出詞與詞之關聯性強度，例如：啤酒與尿布。</h3>
                            </div>
                        </div>
                    </a>
                    <a href="/AsubUs">
                        <div class="card_box">
                            <div>
                                <img src="../static/img/icon_img/care.png">
                            </div>
                            <div>
                                <h2>訂閱小幫手</h2>
                                <h3>訂閱此網站，定時寄給您最新的消息。</h3>
                            </div>
                        </div>
                    </a>

                </div>

                <div>
                    <h1>新聞</h1>
                    <a href="/BsetKeywords">
                        <div class="card_box">
                            <div>
                                <img src="../static/img/icon_img/search.png">
                            </div>
                            <div>
                                <h2>設定關鍵字</h2>
                                <h3>設定您想看的新聞關鍵字，快速查找特定財經新聞。</h3>
                            </div>
                        </div>
                    </a>
                    <a href="/Bnews">
                        <div class="card_box">
                            <div>
                                <img src="../static/img/icon_img/newspaper.png">
                            </div>
                            <div>
                                <h2>每日新聞</h2>
                                <h3>依照您設定之關鍵字，將新聞呈現至網頁。</h3>
                            </div>
                        </div>
                    </a>
                    <a href="/BnewsWord">
                        <div class="card_box">
                            <div>
                                <img src="../static/img/icon_img/word.png">
                            </div>
                            <div>
                                <h2>產生新聞重點摘錄檔案</h2>
                                <h3>將您想要留下的新聞經過您的勾選與排序後，生成word檔案供您保存。</h3>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
        </main>
        <footer>
            Copyright Fubon Financial All Rights Reserved.18
        </footer>
    </div>
</body>

</html>